<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../static/css/adam-a-travers-le-temps.css">
    <meta charset="UTF-8">
    <link rel="icon" href="../static/icon/icon.ico">
    <title>Chill Stories | Adam A Travers Le Temps</title>
</head>
<body>
    <div class="container">
        <div class="cont-left">
            <img class="banniere" src="../static/films/ban/adamatraversletemps.jpg" alt="img">
            <video class="video" width="1050" controls>
                <source src="../static/films/Adam A Travers Le Temps.mkv" type=video/webm .mkv>
            </video>
        </div>
        <div class="descript">
                <h1>Adam A Travers Le Temps</1>
                <div class="description">
                    <img class="banniere2" src="../static/films/ban/adamatraversletemps.jpg" alt="img">
                <hr style="width: 30px; margin: auto; border-color: white; background-color: white; margin-top: 15px; margin-bottom: 15px;">
                <p class="description">
                    Dans Adam à Travers le Temps, le concept de temps fixe désigne le seul endroit dans le temps où un individu appartient à un niveau quantique lorsqu’il ne voyage pas dans le temps et ne converse pas avec son moi plus jeune. Étant donné qu’en 2022, un an et demi s’est écoulé depuis le décès de Louis, nous pouvons présumer sans risque qu’il est mort à un moment donné en 2021.
                </p>
            </div>
        </div>
        <footer>
            <hr style="margin-bottom: 15px;">
            <div class="bottom-link">
                <div class="name">
                    <h3>Mentions légales</h3>
                    <ul>
                        <a href=""><li>Nos développeurs (en cours)</li></a>
                        <a href=""><li>Nous contacter (en cours)</li></a>
                        <a href=""><li>Centre d'aide (en cours)</li></a>
                        <a href=""><li>Conditions d'utilisations (en cours)</li></a>
                        <a href=""><li>Propositions de modifications (en cours)</li></a>
                        <a href=""><li>Limite d'âge (en cours)</li></a></li></a>
                        <a href=""><li>Recrutement (en cours)</li></a>
                        <a href=""><li>Compte (en cours)</li></a>
                    </ul>
                </div>
                <div class="faq">
                    <h3>FAQ</h3>
                    <ul>
                        <a href="../static/footer/faq/comment-le-site-a-ete-cree.html"><li>Comment le site a été créé ?</li></a>
                        <a href=""><li>Qui a créé le site ? (en cours)</li></a>
                        <a href=""><li>Ou est ébergé le site ? (en cours)</li></a>
                        <a href=""><li>Comment le site et le serveur ont été créé ? (en cours)</li></a>
                        <li>Comment obtenir un compte premium ? (en cours) (en cours)</li></a>
                    </ul>
                </div>
                <div class="account">
                    <h3>Account</h3>
                    <ul>
                        <a href="{{ url_for('logout')}}"><li>Logout</li></a>
                        <li>Premium (en cours)</li>
                    </ul>
                </div>
                <div class="others">
                    <h3>Others</h3>
                    <ul>
                        <a href="https://fast.com/fr/"><li>Test de vitesse</li></a>
                    </ul>
                </div>
            </div>
    
            <hr style="margin-bottom: 15px;">
            <div class="copyright">
                <p style="margin-bottom: 20px;">&copy; Copyright 2023 - Chill Stories - All Rights Reserved</p>
                <div class="other">
                    <p style="margin-right: 5px;">Version</p><p style="color: rgba(255, 255, 255, 0.818);">1.0.0</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>