<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="../static/css/aquaman.css">
    <meta charset="UTF-8">
    <link rel="icon" href="../static/icon/icon.ico">
    <title>Chill Stories | Aquaman</title>
</head>
<body>
    <div class="container">
        <div class="cont-left">
            <img class="banniere" src="../static/films/ban/aquaman.jpg" alt="img">
            <video class="video" width="1050" controls>
                <source src="../static/films/forcesspeciales.mp4" type=video/mp4>
            </video>
        </div>
        <div class="descript">
            <div class="description">
                <h1>Aquaman</h1>
                <img class="banniere2" src="../static/films/ban/aquaman.jpg" alt="img">
                <hr style="width: 30px; margin: auto; border-color: white; background-color: white; margin-top: 15px; margin-bottom: 15px;">
                <p class="description">
                    Aquaman est un film de super-héros américain réalisé par James Wan et sorti en 2018. Il met en vedette Jason Momoa dans le rôle d'Aquaman/Arthur Curry, un demi-humain, demi-Atlante qui doit sauver le monde des mains d'un ennemi juré qui veut dominer les océans. Il est aidé dans sa quête par Mera, jouée par Amber Heard, et doit affronter son frère Orm, joué par Patrick Wilson. Le film est basé sur le personnage de DC Comics de la même nom. Il a été un succès commercial mondial.
                </p>
            </div>
        </div>
        <footer>
            <hr style="margin-bottom: 15px;">
            <div class="bottom-link">
                <div class="name">
                    <h3>Mentions légales</h3>
                    <ul>
                        <a href=""><li>Nos développeurs (en cours)</li></a>
                        <a href=""><li>Nous contacter (en cours)</li></a>
                        <a href=""><li>Centre d'aide (en cours)</li></a>
                        <a href=""><li>Conditions d'utilisations (en cours)</li></a>
                        <a href=""><li>Propositions de modifications (en cours)</li></a>
                        <a href=""><li>Limite d'âge (en cours)</li></a></li></a>
                        <a href=""><li>Recrutement (en cours)</li></a>
                        <a href=""><li>Compte (en cours)</li></a>
                    </ul>
                </div>
                <div class="faq">
                    <h3>FAQ</h3>
                    <ul>
                        <a href="../static/footer/faq/comment-le-site-a-ete-cree.html"><li>Comment le site a été créé ?</li></a>
                        <a href=""><li>Qui a créé le site ? (en cours)</li></a>
                        <a href=""><li>Ou est ébergé le site ? (en cours)</li></a>
                        <a href=""><li>Comment le site et le serveur ont été créé ? (en cours)</li></a>
                        <li>Comment obtenir un compte premium ? (en cours) (en cours)</li></a>
                    </ul>
                </div>
                <div class="account">
                    <h3>Account</h3>
                    <ul>
                        <a href="{{ url_for('logout')}}"><li>Logout</li></a>
                        <li>Premium (en cours)</li>
                    </ul>
                </div>
                <div class="others">
                    <h3>Others</h3>
                    <ul>
                        <a href="https://fast.com/fr/"><li>Test de vitesse</li></a>
                    </ul>
                </div>
            </div>
    
            <hr style="margin-bottom: 15px;">
            <div class="copyright">
                <p style="margin-bottom: 20px;">&copy; Copyright 2023 - Chill Stories - All Rights Reserved</p>
                <div class="other">
                    <p style="margin-right: 5px;">Version</p><p style="color: rgba(255, 255, 255, 0.818);">1.0.0</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>